$theme-color: #ff5a5f;
$theme-hover: #da282e;
$font-family: 'Circular';
$site-color: #484848;
$link-hover: #888888;
$font-size: 14px;
$border-color: #dbdbdb;
$footer-color: #fff;
$footer-hover-color: #cacccd;
$footer-one-bg: #2b2d2e;
$input-color: #565a5c;
$btn-active: #008489;
$btn-active-hover: #01595d;
$btn-hover: #eae8e8;
$contrast-color: #565a5c;
$btn-contrast: #565a5c;
$btn-contrast-hover: #383b3c;
$light-color: #757575;
$works-bg: #79cccd;
$gray-bg: #edefed;
$green-color: #008489;
$green-hover: #01595d;
$room-type-color: #b43616;
$light-blue: #cce4e7;
$host-active: #edefed;
$panel-bg: #f5f5f5;
$subnav-bg: #565a5c;
$subnav-item: #cacccd;
$nav-active: #dedede;
$dashboard-bg: #51bfb6;
$dashboard-table-bg: #5dd8ca;
$alert-color: #f00;
$accepted-alert-color: #3fb34f;
$dark-font: #565a5c;
$dark-label-bg: #444740;
$error-color: #f00;
$success-color: #008000;
$text-highlight: #007a87;
$img-bg: #cacccd;
$tab-active-border: #aaa;
$btn-host: #008489;
$btn-host-hover: #01595d;
$cookie-alert: #c2e4e7;
$host-experience: #008489;
$mobile-link-hover: #f3f9f9;
$host-payment-btn: #ff5a5f;
$saving-progress: #3fb34f;
$app-link-color: #767676;
$app-link-hover: #3e3e3e;
$invalid-border-color: #ffb400;
$invalid-background-color: rgba(255, 237, 188, 0.45);
$star-active: #008489;
$star-inactive: #cacccd;
$menu-link-color: #000;
$card-header-bg: #edefed;